body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #606468;
    background-color: #2c2f39;
}
.cnt{
    width:100%;
}
.holder{
    background: rgb(121, 26, 2);
    width:70%;
    margin: 10% 15% auto 15%;
}
.headerr{
    width:100%;
    height:60px;
    background:rgb(192, 42, 4);
}
.control-label{
    color:white;
}
.hd{
    text-align: center;
    color:white;
    padding-bottom:15px;
}
.btnn{
    padding:7px 20px;
    background: rgb(82, 1, 1);
    color:white;
}
.div1{
    padding:40px;
}
.main-icon{
    width:60px !important;
    height:60px;
}
.div2,.div3,.div4,.div5{
    display: none;
}
.e{
    display: none;
    color:red !important;
}
.e2,.e3,.e4,.e21,.e22,.e23,.e31,.e32,.e33{
    padding:20px;
    display: none;
}
@media(max-width:768px){
    .holder{
        width:95%;
        margin: 50px 2.5%;
    }
}