/* .cr{
    width: 100%;
} */
body{
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}
.grid1{
    padding: 5vw 5vw 5vw 5vw;
    /* margin: 5vw; */
}
.grid2{
    padding: 5vw 5vw 5vw 5vw;
    /* margin-left: 2vh;  */
}
.cc{
    /* display: block;
    width: 20vw;
    background-color: #4b4e53;
    text-align: center; 
    height: 8vh;
    line-height: 8vh;*/
    font-size: 3em;
    color: white;
    text-decoration: none !important;
} 
/*.cc1{
    display: block;
    width: 20vw; 
    color: white;
    background-color: #4b4e53d5;
    text-decoration: none;
    text-align: center; 
    height: 8vh; 
     line-height: 8vh; 
}*/
.cc:hover{
    text-decoration: none;
    color: white; 
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.over{
    background: rgba(0,0,0,0.7);
}
.aaa{
        background: #36454f;
 
}
.ul1{
    padding-top: 20px;
    padding-left: 20px;
}
.ul1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.cn1{
    color: #34495e;
    margin-top: 6vw;
    margin-bottom: 8vw;
    margin-left: 4vw;
    margin-right: 4vw;
    /* text-align: center; */
}
.ul1 a:hover{
    color: grey;
}
#demo{
    padding-top: 12vh;
}
.bdr{
    text-align: center;
    margin: 10vw 0px;
    color:rgb(100, 93, 93);
}
.lll1{
    list-style: none;
    margin:0;
    padding:0;
}
.lll1 li{
    display: inline;
}
.cou{
    font-size: 200%;
}
.glll{
    width: 100%;
    /* margin:20px 20px; */
    padding: 5vh 6vh 2vh;
    background-color: #4b4e53d5;
}
.gg11{
    margin-bottom: 20px;
}
.aa{
    width:100%;
}
.amm{
    display: inline !important;
}
.fwb{
    width:100%;
    color: white;
    background-color: #4b4e53d5;
    text-decoration: none;
    text-align: center; 
    height: 8vh; 
     line-height: 8vh; 
     color: white;
    background-color: #4b4e53d5;
    text-decoration: none;
    text-align: center; 
    height: 8vh; 
    line-height: 6vh; 
}
#sank{
font-family: 'Samarkan Normal';
font-weight: normal;
font-size: 60px;
/* align-content: center; */
}
/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
    font-family: 'Samarkan Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Samarkan Normal'), url('../dependencies/SAMARN__.woff') format('woff');
    }
    
    
    /* @font-face {
    font-family: 'Samarkan Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Samarkan Oblique'), url('SAMARO__.woff') format('woff');
    } */

@media only screen  and (max-width : 992px){
    #demo{
        padding-top: 8vh;
    }
}
@media(max-width:782px){
    .aa{
        margin-bottom: 10px;
    }
}
@media only screen  and (max-width : 392px) {
    .grid2{
        margin-left: 2vh;
    }
}
@media only screen  and (max-width : 578px) {
    .cc{
        font-size: 1em;
    }
}