/* .cr{
    width: 100%;
} */
body{
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.ul1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.cn1{
    color: #34495e;
    margin-top: 6vw;
    /* margin-bottom: 5vh; */
    margin-left: 4vw;
    margin-right: 4vw;
    /* text-align: center; */
}
.ul1 a:hover{
    color: grey;
}
#demo{
    padding-top: 12vh;
}
.bdr{
    text-align: center;
    margin: 10vw 0px;
}
#gall{
    display: block;
    width: 100vw;
    color: white;
    background-color: #4b4e53;
    text-decoration: none;
    text-align: center; 
    height: 8vh;
    line-height: 8vh;
}
#gall:hover{
    background-color: black;
}
@media only screen  and (max-width : 992px) {
    #demo{
        padding-top: 8vh;
    }
}
