@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
body, html {
    height: 100%;
}

.main-body{
    background-image: url('../img/bge.jpg');
    width: 100%;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.holder1{
    background: rgba(0,0,0,0.7);
    text-align: center;
   padding-top:100px;
   padding-bottom: 100px;
   margin-bottom: -10px;

}
.a1{
    font-family: 'Libre Baskerville', serif;
    color:rgb(166, 221, 241);
    font-size: 50px;
    padding:40px;
}
.a2{
    color:rgb(133, 194, 216);
    font-size: 30px;
}
.a3{
    color:white;
    padding: 25px;
    font-family: 'EB Garamond', serif;
}



@media(max-width:992px){
    .holder1{
        margin-top: -22px;
        padding-top:50px;
        padding-bottom:50px;
    }
}

@media(max-width:767px){
    .a1{
        font-size: 30px;
        padding: 25px;
    }
    .a3{
        font-size: 30px;
    }
}