@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    overflow-x: hidden;
}


/*mobile nav*/

.menu-icon {
    display: none;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 150;
}

.menu--visible {
    pointer-events: auto;
}

.app-menu {
    background-color: #47515b;
    color: #fff;
    position: relative;
    max-width: 400px;
    width: 90%;
    height: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(-103%);
    transform: translateX(-103%);
    display: flex;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
    pointer-events: auto;
}

.menu--visible .app-menu {
    -webkit-transform: none;
    transform: none;
}

.menu--animatable .app-menu {
    transition: all 130ms ease-in;
}

.menu--visible.menu--animatable .app-menu {
    transition: all 330ms ease-out;
}

.menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);
}

.menu--visible.menu:after {
    opacity: 1;
    pointer-events: auto;
}


/*mobile view navbar ends*/

.header {
    width: 100%;
    margin-top: -1px;
    height: 90px;
    z-index: 20;
    position: fixed;
    background-color: #36454f;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
}

.header-scroll {
    height: 65px;
    background: #2c3a44;
}

.main-icon {
    width: 15%;
    margin-top: -10px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
}

.icon-animated {
    -webkit-animation: spin 5s forwards infinite;
    -moz-animation: spin 5s forwards infinite;
    animation: spin 5s forwards infinite;
}

.main-icon-scroll {
    width: 75px;
    margin-top: -5px;
}

.main-nav1 {
    list-style: none;
    float: right;
    margin-top: 50px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.main-nav1-scroll {
    margin-top: 23px;
}

.main-nav1 li {
    display: inline;
    margin: 0px 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border-bottom: none;
}

.main-nav1 li a,
.main-nav2 li a {
    text-decoration: none;
    color: #F3843E;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.main-nav1 li a {
    padding: 8px 12px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.main-nav1 li a:hover {
    color: white;
    background: #FF5109;
    border-radius: 50px;
    border: 2px solid white;
    padding: 6px 10px;
}


/*mobile view*/

@media(max-width:850px) {
    .header {
        height: 60px;
    }
    .main-nav1 {
        display: none;
    }
    .menu-icon {
        display: block;
        float: right;
        margin: 10px;
    }
    .clickme {
        color: #FF5109;
        border: 2px solid #FF5109;
        padding: 10px;
    }
    .main-icon {
        margin-top: -3px;
        width: 65px !important;
    }
    .sidebar-box {
        width: 90%;
        height: 90%;
        margin: auto;
        border: 2px solid #FF5109;
    }
    .solid-head {
        background: #7e3617;
        width: 100%;
        height: 60px;
    }
    .main-nav2 {
        list-style: none;
        padding: 0px;
        text-align: center;
    }
    .main-nav2 li {
        padding: 10px;
        color: #F3843E;
        background: #3f3f3f;
        margin-bottom: 2.5px;
        font-size: 17px;
    }
    .nav-active2 {
        color: #FF5109 !important;
    }
    .name1 {
        float: right;
        margin: 20px;
    }
}


/*more small phones*/

@media(max-width:400px) {}


/*animations*/

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}